<aside role="complementary" aria-labelledby="page-navigation">
    <h3 id="page-navigation">{{ fileslug | capitalize }}</h3>
    <nav aria-label="Secondary">
        <ul>
            {%- for item in collections.secondary %}
            {%- if item.data.fileslug == fileslug %}
            <li><a href="{{item.url}}" {% if page.url==item.url %}aria-current="page" {% endif %}>{{item.data.title}}</a></li>
            {%- endif %}
            {%- endfor %}
        </ul>
    </nav>
</aside>