<header role="banner">
  <nav aria-label="Primary">
    <ul>
      <li><a href="/">Home</a></li>
      {%- for i in collections.primary %}
      <li><a href="{{i.url}}" {% if page.url==i.url %}aria-current="page" {% endif %}>{{i.data.title}}</a></li>
      {%- endfor %}
    </ul>
  </nav>
  <form name="site-search" action="/search" method="get" role="search">
    <label for="query">Find the documentation</label>
    <input type="search" id="query" name="query" />
    <button type="submit">Search</button>
  </form>
</header>