<nav role="navigation" aria-label="Pagination">
{% assign previousPost = collections.secondary | getPreviousCollectionItem %}
{% assign nextPost = collections.secondary | getNextCollectionItem %}
{% if nextPost or previousPost %}
{% if previousPost %}
<p>Previous post: <a role="button" href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></p>
{% endif %}
{% if nextPost %}
<p>Next post: <a role="button" href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></p>
{% endif %}
{% endif %}
</nav>