:root {
    --metric-box-spacing: 1em;
    --color-off-white: hsl(0deg 0% 95%);
}

body {
    margin: 0;
    padding: 0;
}

header,
footer {
    text-align: center;
}

header {
    padding: var(--metric-box-spacing);
    background-color: hsl(140deg 70% 95%);
    font-size: 1.4em;
}

main {
    min-height: calc(100vh - 8em);
}

p {
    margin-block-start: var(--metric-box-spacing);
}

.media {
    background-color: var(--color-off-white);
    margin: var(--metric-box-spacing);
    padding: var(--metric-box-spacing);
    display: flex;
    align-items: center;
    gap: var(--metric-box-spacing);
}

.media-illustration {
    flex: 1;
    max-inline-size: 200px;
}

.media-content {
    flex: 3;
}


footer {
    padding: calc(var(--metric-box-spacing) / 2);
    background-color: hsl(200deg 70% 95%);
}

p {
    margin-block-start: var(--metric-box-spacing);
}