body {
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: system-ui, sans-serif;
}

article {
  width: 80%;
  display: flex;
  flex-direction: column;
  background: lightpink;
  padding: 1rem;
}

figure {
  aspect-ratio: 16/9;
  background: wheat;
  margin: 0.5rem 0;
}
