---
title: Micro layouts 1
css: /assets/css/micro1.css
---
<header>
    My Website
</header>
<main>
    <div class="media">
        <div class="media-illustration">
            <svg viewbox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                <circle cx="100" cy="100" r="100" fill="#5f6368" />
            </svg>
        </div>
        <div class="media-content">
            <h3>Media Object</h3>
            <p>This is a media object. There’s an image and also some content.</p>
            <p>In this case, the content is a heading followed by two paragraphs of text.</p>
        </div>
    </div>
</main>
<footer>
    <small>I made this!</small>
</footer>