---
title: 1 line layout
layout: default
tags: primary
---
<p>This is the {{ title }}</p>
<ul>
    {% for item in collections.oneLine %}
    <li><a href="{{item.url}}">{{item.data.title}}</a></li>
    {% endfor %}
</ul>