---
title: Clamping my style
css: /assets/css/one-line9.css
---
<article>
    <h1>Clamping my style</h1>
    <figure></figure>
    <p>The clamp() CSS function clamps a middle value within a range of values between a defined minimum bound and a maximum bound. The function takes three parameters: a minimum value, a preferred value, and a maximum allowed value.</p>
    <code>clamp(&lt;min&gt;, &lt;actual&gt;, &lt;max&gt;)</code>
    <h3>This example</h3>
    <p>width: clamp(45ch, 50%, 75ch);</p>
</article>