---
title: The classic holy grail layout
css: /assets/css/one-line-layout/one-line5.css
---
<header>
    <h1>Header.com</h1>
</header>
<aside>
    <h3>Left Sidebar</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam eveniet iusto doloremque ratione obcaecati! Voluptatem incidunt repudiandae fugit voluptates officiis iste consequuntur sed, ab numquam molestiae, nulla accusantium nesciunt quidem.</p>
</aside>
<main>
    <h2>The main content</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, explicabo nihil tenetur commodi voluptatem quidem ratione maiores sint asperiores quam similique alias natus reprehenderit magni incidunt exercitationem rerum ea quibusdam.</p>
</main>
<aside>
    <h3>Right Sidebar</h3>
</aside>
<footer>
    <p>Footer Content — Header.com 2024</p>
</footer>