---
title: Line up
css: /assets/css/one-line-layout/one-line8.css
---
<article>
    <h1>Title - Card 1</h1>
    <p>Medium length description. Let's add a few more words here.</p>
    <figure class="visual"></figure>
</article>
<article>
    <h1>Title - Card 2</h1>
    <p>Long Description. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed est error repellat veritatis.</p>
    <figure class="visual"></figure>
</article>
<article>
    <h1>Title - Card 3</h1>
    <p>Short Description.</p>
    <figure class="visual"></figure>
</article>