---
title: Pancake stack
description: "The grid-template-rows CSS property defines the line names and track sizing functions of the grid rows."
code: 'grid-template-rows: auto 1fr auto;'
css: /assets/css/one-line-layout/one-line4.css
url: https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-rows
---
<header>
    <h1>Header.com</h1>
</header>
<main>
    {% render 'components/main', title: title, description: description, code: code %}
</main>
<footer>
    <p>Footer Content — Header.com 2024</p>
</footer>