---
title: Respect for aspect
description: The aspect-ratio CSS property allows you to define the desired width-to-height ratio of an element's box. This means that even if the parent container or viewport size changes, the browser will adjust the element's dimensions to maintain the specified width-to-height ratio. The specified aspect ratio is used in the calculation of auto sizes and some other layout functions.
code: "aspect-ratio: 16/9;"
url: https://developer.mozilla.org/en-US/docs/Web/CSS/aspect-ratio
image: https://images.unsplash.com/photo-1448375240586-882707db888b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
css: /assets/css/one-line-layout/one-line10.css
---
<article>
    <h1>{{ title }}</h1>
    <figure>
        <img src="{{ image }}" alt="Forest" width="100%">
        <figcaption>Bad Pyrmont, Deutschland.</figcaption>
    </figure>
    {% render 'components/main', description: description, code: code, url: url %}
</article>