---
title: Respect for aspect
css: /assets/css/one-line10.css
---
<article>
    <h1>{{ title }}</h1>
    <figure></figure>
    <p>The aspect-ratio CSS property allows you to define the desired width-to-height ratio of an element's box. This means that even if the parent container or viewport size changes, the browser will adjust the element's dimensions to maintain the specified width-to-height ratio. The specified aspect ratio is used in the calculation of auto sizes and some other layout functions.</p>
    <h3>This example</h3>
    <code>aspect-ratio: 16/9;</code>
</article>