---
title: Sidebar says
description: The minmax() CSS function defines a size range greater than or equal to min and less than or equal to max. It is used with CSS Grids.
code: "grid-template-columns: minmax(200px, 25%) 1fr;"
css: /assets/css/one-line-layout/one-line3.css
url: https://developer.mozilla.org/en-US/docs/Web/CSS/minmax
---
<aside>
    <p>Min: 200px<br />Max: 25%</p>
</aside>
<main>
    {% render 'components/main', title: title, description: description, url: url, code: code %}
</main>